{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div id="Garary_title">Garary</div><br>

<div class="gararys">
    <div class="garary1">
        <p>❏ 春の幻想庭園</p>
        <img src="images/fig6.jpg" width=400></img><br><br>
    </div>

    <div class="garary2">
        <p>❏ スタイリッシュ猫</p>
        <img src="images/fig7.jpg" width=600></img>
    </div>

    <div class="garary3">
        <p>❏ PF猫</p>
        <img src="images/fig8.jpg" width=400></img>
    </div>
</div>
{% endblock %}